# shared, optional
CF_PAGES=

# shared, optional
CF_PAGES_BRANCH=

# shared, optional
CF_PAGES_COMMIT_SHA=

# shared, optional
CF_PAGES_URL=

# server, required
CLERK_SECRET_KEY=

# server, required
CLERK_WEBHOOK_SIGNING_SECRET=

# server, required
POSTHOG_API_KEY=

# server, required
RESEND_API_KEY=

# server, optional
SENTRY_DSN=

# server, required
STRIPE_SECRET_KEY=

# server, required
STRIPE_WEBHOOK_SECRET=

# client, required, prefix: VITE_
VITE_CLERK_PUBLISHABLE_KEY=

# client, optional, prefix: VITE_
VITE_POSTHOG_HOST=

# client, required, prefix: VITE_
VITE_POSTHOG_KEY=

# client, optional, prefix: VITE_
VITE_SENTRY_DSN=

# client, optional, prefix: VITE_
VITE_SITE_URL=
