# server, required
BETTER_AUTH_SECRET=

# shared, optional
CF_PAGES=

# shared, optional
CF_PAGES_BRANCH=

# shared, optional
CF_PAGES_COMMIT_SHA=

# shared, optional
CF_PAGES_URL=

# server, required
CLERK_SECRET_KEY=

# server, required
RESEND_API_KEY=

# server, optional
SKIP_CLERK_MIDDLEWARE=

# server, required
STRIPE_SECRET_KEY=

# server, required
STRIPE_WEBHOOK_SECRET=

# client, required, prefix: VITE_
VITE_CLERK_PUBLISHABLE_KEY=
